@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
:root {
    --body-font: 'Poppins', sans-serif;
    --heading-font: 'Montserrat', sans-serif;
    --wave-color: #090B13;
    --wave-color2: #05060afd;
    --black: #000000;
    --white: #fff;
}

body {
    background-color: var(--white);
    color: var(--wave-color);
}

h1,
h5 {
    font-family: var(--body-font);
    color: var(--white) !important;
}

.dark-mode {
    color: var(--white);
    background: var(--wave-color2);
}

p {
    font-family: var(--body-font);
}


/* heading styles */

#heading {
    background: transparent;
}

.title {
    background: var(--wave-color);
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 65px;
}

h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}


/* Features */

h2 {
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
}

h3 {
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

h4 {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}


/* sect1 */

.crowd {
    outline: 2px solid black;
    outline-offset: 1rem;
    margin-bottom: 2rem;
}


/* sect2 */

.logger {
    margin-top: 3rem;
    margin-bottom: 3rem;
    outline: 2px solid black;
    outline-offset: 1rem;
}


/* Footer  */

#footer {
    background: var(--wave-color);
    color: var(--white);
}

#footer p {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.footnote {
    background: var(--wave-color);
}


/* test */

#carousel {
    position: relative;
    height: 500px;
    overflow: hidden;
}

#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel div img {
    width: 100%;
    transition: width 1s;
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}


/* 
#carousel div.hideLeft img {
    width: 200px;
} */

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}


/* #carousel div.hideRight img {
    width: 200px;
} */

#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}


/* 
#carousel div.prev img {
    width: 300px;
} */

#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}


/* #carousel div.prevLeftSecond img {
    width: 200px;
} */

#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}


/* #carousel div.next img {
    width: 300px;
} */

#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}


/* 
#carousel div.nextRightSecond img {
    width: 200px;
} */


/* 
.buttons {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
} */


/* test end */


/* Media query */

@media screen and (max-width:600px) {
    .title {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    h1 {
        font-size: 30px;
        line-height: 35px;
    }
    h5 {
        font-size: 16px;
        line-height: 24px;
    }
    /* Feautures */
    /* sect1 */
    .crowd,
    .logger {
        outline: none;
    }
    h3 {
        font-size: 20px;
        line-height: 18px;
        text-align: center;
    }
    h4 {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
    }
    /* Footer */
    #footer p {
        font-size: 12px;
        line-height: 16px;
    }
}